[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SplitSoftening"]
	path = SplitSoftening
	url = https://github.com/cran/SplitSoftening
